# Bundler cache
.bundle
vendor

# Jekyll build output
.jekyll-cache
.jekyll-cache-local
.jekyll-metadata
_site

# NPM dependencies
node_modules

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
