<!-- The post tags list -->

{% if page.tags.size > 0 %}
  <section>
    <h2 class="panel-heading">{{- site.data.locales[include.lang].tabs.tags | default: "Tags" -}}</h2>
    <div class="d-flex flex-wrap mt-2 mb-1">
      {% for tag_name in page.tags %}
        {% assign url = tag_name | slugify | url_encode | prepend: '/tags/' | append: '/' %}
        <a class="post-tag btn btn-outline-primary" href="{{ url | relative_url }}">{{ tag_name }}</a>
      {% endfor %}
    </div>
  </section>
{% endif %}
